@font-face {
  font-family: "dseg";
  src: url("../font/DSEG7Modern-Bold.ttf") format("ttf");
  src: url("../font/DSEG7Modern-Bold.woff") format("woff");
  src: url("../font/DSEG7Modern-Bold.woff2") format("woff2");
}
