@use "reset" as r;
@use "mixin" as m;
@use "common" as c;

.heatstroke {
  &.eva {
    position: relative;
    background-color: c.$eva-black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体",
      "游明朝体+36ポかな", "YuMincho +36p Kana", "ヒラギノ明朝 ProN",
      "Hiragino Mincho ProN", sans-serif;
    font-weight: bold;
    &.safety {
      background-image: url(../images/heatstroke/eva/bg_safety.png);
    }
    &.attention {
      background-image: url(../images/heatstroke/eva/bg_attention.png);
    }
    &.vigilance {
      background-image: url(../images/heatstroke/eva/bg_vigilance.png);
    }
    &.s-vigilance {
      background-image: url(../images/heatstroke/eva/bg_s-vigilance.png);
    }
    &.danger {
      background-image: url(../images/heatstroke/eva/bg_danger.png);
    }
    .bar_top {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
    }
    .bar_bottom {
      width: 100%;
      height: auto;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    header {
      height: 10.2%;
      max-height: 111px;
      padding: 64px 32px 24px 32px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      @include m.mq(tab) {
        padding: 53px 32px 24px 32px;
      }
      @include m.mq(sp) {
        padding: 26px 32px 24px 32px;
      }
      .content_title {
        font-size: 48px;
        @include m.mq(tab) {
          font-size: 32px;
        }
        @include m.mq(sp) {
          font-size: 24px;
        }
      }
      .update_time {
        font-size: 48px;
        @include m.mq(tab) {
          font-size: 32px;
        }
        @include m.mq(sp) {
          font-size: 24px;
        }
        span {
          margin-left: 4px;
          margin-right: 8px;
          display: inline-block;
          font-size: 24px;
          @include m.mq(tab) {
            font-size: 18px;
          }
          @include m.mq(sp) {
            font-size: 16px;
          }
        }
      }
    }
    main {
      width: 62%;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include m.mq(tab) {
        width: 82%;
      }
      @include m.mq(tab) {
        width: 87%;
      }
      .numerical_value {
        text-align: center;
        font-size: 68px;
        @include m.mq(pc) {
          font-size: 40px;
        }
        @include m.mq(tab) {
          font-size: 40px;
        }
        @include m.mq(sp) {
          font-size: 24px;
        }
        span {
          margin-left: 16px;
          display: inline-block;
          font-size: 70px;
          @include m.mq(pc) {
            font-size: 42px;
          }
          @include m.mq(tab) {
            font-size: 40px;
          }
          @include m.mq(sp) {
            font-size: 26px;
          }
        }
      }
      .content_body {
        margin-top: 24px;
        @include m.mq(pc) {
          margin-top: 0;
        }
        @include m.mq(tab) {
          margin-top: 0;
        }
        @include m.mq(sp) {
          margin-top: 0;
        }
        .value_content {
          text-align: center;
          font-size: 233px;
          white-space: nowrap;
          @include m.mq(pc) {
            font-size: 190px;
          }
          @include m.mq(tab) {
            margin: 24px 0;
            line-height: 1.0;
            font-size: 170px;
          }
          @include m.mq(sp) {
            margin: 8px 0;
            line-height: 1.0;
            font-size: 64px;
          }
        }
        .vigilance_level {
          width: fit-content;
          padding: 8px 24px;
          border: 4px solid white;
          margin: 0 auto 32px;
          font-size: 68px;
          background-color: rgba(255, 255, 255, 0.6);
          color: c.$eva-black;
          @include m.mq(pc) {
            font-size: 40px;
          }
          @include m.mq(tab) {
            font-size: 40px;
          }
          @include m.mq(sp) {
            padding: 0 24px;
            margin: 0 auto;
            font-size: 24px;
          }
          span {
            margin-left: 16px;
            display: inline-block;
            font-size: 70px;
            @include m.mq(pc) {
              font-size: 42px;
            }
            @include m.mq(tab) {
              font-size: 42px;
            }
            @include m.mq(sp) {
              font-size: 24px;
            }
          }
          /*値によって色が変わる*/
          &.safety {
            border: 4px solid #6eadd8;
            background-color: rgba(110, 173, 216, 0.6);
          }
          &.attention {
            border: 4px solid #6dad19;
            background-color: rgba(109, 173, 25, 0.6);
          }
          &.vigilance {
            border: 4px solid #ffd800;
            background-color: rgba(255, 216, 0, 0.6);
          }
          &.s-vigilance {
            border: 4px solid #f89901;
            background-color: rgba(248, 153, 1, 0.6);
          }
          &.danger {
            border: 4px solid #cd0001;
            background-color: rgba(205, 0, 1, 0.6);
            color: white;
          }
        }
      }
      .content_footer {
        margin-top: 48px;
        @include m.mq(sp) {
          margin-top: 16px;
        }
        .content_text {
          font-size: 32px;
          @include m.mq(pc) {
            font-size: 24px;
          }
          @include m.mq(tab) {
            font-size: 24px;
          }
          @include m.mq(sp) {
            font-size: 16px;
          }
        }
      }
    }
  }
  &.default {
    display: flex;
    flex-direction: column;
    background-image: url(../images/heatstroke/bg_heatstroke.jpg);
    background-position: center;
    background-size: cover;
    font-weight: bold;
    color: white;
    overflow: scroll;
    header {
      width: 100%;
      height: 10.2%;
      max-height: 111px;
      padding: 24px 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-basis: 10%;
      background-image: url(../images/heatstroke/bg_header.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      .content_title {
        font-size: 48px;
        letter-spacing: 2px;
        @include m.mq(sp) {
          font-size: 24px;
        }
      }
      .update_time {
        font-size: 48px;
        font-weight: bold;
        @include m.mq(sp) {
          font-size: 32px;
        }
        span {
          display: inline-block;
          margin-left: 4px;
          margin-right: 8px;
          font-size: 24px;
          @include m.mq(sp) {
            font-size: 16px;
          }
        }
      }
    }
    .content_body {
      height: 90%;
      padding: 24px 32px;
      flex-basis: 87%;
      .content_wrapper {
        height: 100%;
        padding: 36px;
        border-radius: 52px;
        box-shadow: 0 15px #6a7478;
        @include m.mq(tab) {
          padding: 16px;
        }
        @include m.mq(sp) {
          padding: 12px;
          border-radius: 38px;
          box-shadow: 0 4px #6a7478;
        }
        &.safety {
          background-color: c.$safety; /*ほぼ安全*/
        }
        &.attention {
          background-color: c.$attention; /*注意*/
        }
        &.vigilance {
          background-color: c.$vigilance; /*警戒*/
        }
        &.severe-vigilance {
          background-color: c.$s-vigilance; /*厳重警戒*/
        }
        &.danger {
          background-color: c.$danger; /*危険*/
        }
        .content_area {
          height: 100%;
        }
        .content_inner {
          width: 100%;
          height: 100%;
          border: dotted 7px #fff;
          border-radius: 48px;
          padding: 32px;
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
          gap: 32px;
          align-items: center;
          @include m.mq(sp) {
            border: dotted 5px #fff;
            border-radius: 33px;
          }
          .value_icon {
            width: 30%;
            min-width: 200px;
            height: 100%;
            position: relative;
            @include m.mq(sp) {
              width: 20%;
              min-width: 124px;
            }
            img {
              width: auto;
              height: auto;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          .value_detail {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            @include m.mq(tab) {
              width: 77%;
            }
            @include m.mq(sp) {
              width: 80%;
            }
            .value_header {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 32px;
              font-size: 48px;
              font-weight: bold;
              @include m.mq(pc) {
                font-size: 40px;
              }
              @include m.mq(tab) {
                font-size: 32px;
              }
              @include m.mq(sp) {
                font-size: 18px;
              }
              span {
                display: inline-block;
                margin-left: 8px;
              }
              .vigilance_level {
                padding: 8px;
                background-color: white;
                color: c.$black;
                /*ほぼ安全*/
                &.safety {
                  color: c.$safety;
                }
                /*注意*/
                &.attention {
                  color: c.$attention;
                }
                /*警戒*/
                &.vigilance {
                  color: c.$vigilance;
                }
                /*厳重警戒*/
                &.severe-vigilance {
                  color: c.$s-vigilance;
                }
                /*危険*/
                &.danger {
                  color: c.$danger;
                }
              }
            }
            .value_content {
              padding: 16px 0;
              @include m.mq(sp) {
                padding: 8px 0;
              }
              img {
                width: 100%;
                height: auto;
                margin: 0 auto;
                display: block;
                @include m.mq(pc) {
                  width: 90%;
                }
                @include m.mq(tab) {
                  width: 80%;
                }
                @include m.mq(sp) {
                  width: 55%;
                }
              }
            }
            .value_text {
              padding: 24px 0;
              @include m.mq(tab) {
                padding: 16px 0 0;
              }
              @include m.mq(sp) {
                padding: 8px 0 0;
              }
              p {
                line-height: 1.6;
                font-size: 32px;
                font-weight: 700;
                @include m.mq(pc) {
                  font-size: 24px;
                }
                @include m.mq(tab) {
                  font-size: 20px;
                }
                @include m.mq(sp) {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
