@use "reset" as r;
@use "mixin" as m;
@use "common" as c;

.schedule {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: scroll;
  @at-root {
    .default#{&} {
      background-image: url(../images/schedule/blackBoard_bg_base.jpg);
    }
    .flatPanel#{&} {
      background-image: url(../images/schedule/flatPanel_bg_base.jpg);
    }
    .paper#{&} {
      background-image: url(../images/schedule/paper_bg_base.jpg);
    }
    .eva#{&} {
      background-image: url(../images/schedule/eva_bg_base.png);
      background-color: c.$eva-black;
      font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体",
        "游明朝体+36ポかな", "YuMincho +36p Kana", "ヒラギノ明朝 ProN",
        "Hiragino Mincho ProN", sans-serif;
      font-weight: bold;
      color: #fff;
    }
  }

  &__header {
    height: 12%;
    max-height: 110px;
    padding: 32px;
    margin-bottom: 64px;
    color: c.$misao-blue;

    @include m.mq(pc) {
      padding: 16px;
    }

    @include m.mq(tab) {
      margin-bottom: 40px;
      padding: 16px;
    }

    @include m.mq(sp) {
      max-height: fit-content;
      padding: 16px;
      margin-bottom: 28px;
    }

    @at-root {
      &--eva#{&} {
        color: #fff;
      }
    }

    h1 {
      font-size: 64px;

      @include m.mq(pc) {
        font-size: 48px;
      }

      @include m.mq(tab) {
        font-size: 48px;
      }

      @include m.mq(sp) {
        font-size: 24px;
      }
    }

    p {
      text-align: center;
      font-weight: bold;
      font-size: 48px;

      @include m.mq(pc) {
        font-size: 32px;
      }

      @include m.mq(tab) {
        font-size: 32px;
      }

      @include m.mq(sp) {
        font-size: 16px;
      }
    }
  }

  &__title {
    width: fit-content;
    margin: 0 auto;

    &--main {
      @include m.mq(pc) {
        width: 80%;
        margin: 0 auto;
      }

      @include m.mq(tab) {
        width: 80%;
        margin: 0 auto;
      }

      @include m.mq(sp) {
        width: 35%;
        margin: 0 auto;
      }
    }

    &--sub {
      @include m.mq(pc) {
        width: 60%;
        margin: 16px auto 0;
      }

      @include m.mq(tab) {
        width: 60%;
        margin: 16px auto 0;
      }

      @include m.mq(sp) {
        width: 30%;
        margin: 8px auto 0;
      }
    }
  }

  &__illust {
    position: absolute;
    &--top {
      top: 0;
      left: 0;

      @include m.mq(pc) {
        width: 22%;
      }

      @include m.mq(tab) {
        width: 22%;
      }

      @include m.mq(sp) {
        width: 22%;
      }
    }
  }

  &__bar {
    position: absolute;
    &--top {
      top: 0;
      left: 0;
    }
    &--bottom {
      left: 0;
      bottom: 0;
    }
  }

  &__content {
    width: calc(100% - 64px);
    height: 64%;
    padding: 40px 56px;
    margin: 0 auto;
    background-image: url(../images/schedule/paper_bg_content.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    @include m.mq(pc) {
      padding: 12px 56px;
    }

    @include m.mq(tab) {
      padding: 12px 56px;
    }

    @include m.mq(sp) {
      padding: 12px 24px;
    }

    @at-root {
      &--paper#{&} {
        box-shadow: 0 0 10px rgba(139, 69, 19, 0.25);
      }
      &--eva#{&} {
        background: none;
      }
    }
  }
  &__contentMag {
    position: absolute;

    @include m.mq(pc) {
      width: 16px;
      height: auto;
    }

    @include m.mq(tab) {
      width: 16px;
      height: auto;
    }

    @include m.mq(sp) {
      width: 12px;
      height: auto;
    }

    &--red {
      top: 20px;
      left: 20px;

      @include m.mq(sp) {
        top: 12px;
        left: 12px;
      }
    }
    &--blue {
      top: 20px;
      right: 20px;

      @include m.mq(sp) {
        top: 12px;
        right: 12px;
      }
    }
    &--yellow {
      bottom: 20px;
      left: 20px;

      @include m.mq(sp) {
        bottom: 12px;
        left: 12px;
      }
    }
    &--green {
      bottom: 20px;
      right: 20px;

      @include m.mq(sp) {
        bottom: 12px;
        right: 12px;
      }
    }
  }
}

//スケジュール欄
.scheduleList {
  padding: 0;
  display: flex;
  flex-direction: column;
  &__item {
    height: calc(100% / 7);
    padding: 8px;
    border-bottom: dotted 5px #ddd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;

    @include m.mq(pc) {
      gap: 24px;
    }

    @include m.mq(tab) {
      gap: 24px;
    }

    @include m.mq(sp) {
      padding: 0;
      border-bottom: dotted 2px #ddd;
      gap: 12px;
    }

    &:last-of-type {
      border: none;
    }
    @at-root {
      &--eva {
        border-bottom: solid 3px #cd0011;
        .scheduleList__date {
          font-family: "Noto Sans JP", sans-serif;
          font-family: "Roboto", sans-serif;
        }

        .scheduleList__dayOfWeek {
          font-family: "Noto Sans JP", sans-serif;
          font-family: "Roboto", sans-serif;
        }
      }
      &--holiday#{&} {
        .scheduleList {
          &__date {
            color: c.$red;
          }
          &__dayOfWeek {
            color: c.$red;
          }
        }
      }
      &--sat#{&} {
        .scheduleList {
          &__date {
            color: c.$misao-blue;
          }
          &__dayOfWeek {
            color: c.$misao-blue;
          }
        }
      }
      &--sun#{&} {
        .scheduleList {
          &__date {
            color: c.$red;
          }
          &__dayOfWeek {
            color: c.$red;
          }
        }
      }
    }
  }
  &__date {
    font-weight: bold;
    font-size: 40px;

    @include m.mq(pc) {
      font-size: 24px;
    }

    @include m.mq(tab) {
      font-size: 24px;
    }

    @include m.mq(sp) {
      font-size: 13px;
    }
  }
  &__dayOfWeek {
    font-weight: bold;
    font-size: 40px;

    @include m.mq(pc) {
      font-size: 24px;
    }

    @include m.mq(tab) {
      font-size: 24px;
    }

    @include m.mq(sp) {
      font-size: 13px;
    }
  }
  &__plan {
    font-weight: bold;
    font-size: 48px;

    @include m.mq(pc) {
      font-size: 32px;
    }

    @include m.mq(tab) {
      font-size: 32px;
    }

    @include m.mq(sp) {
      font-size: 18px;
    }
  }
}

.stationary {
  position: absolute;
  bottom: 20px;
  right: 70px;

  @include m.mq(pc) {
    width: 21%;
  }

  @include m.mq(tab) {
    width: 21%;
  }

  @include m.mq(sp) {
    width: 21%;
  }
}

.footer {
  height: 15%;
  margin: 32px 0;

  @include m.mq(pc) {
    height: 12%;
    margin: 16px 0;
  }

  @include m.mq(tab) {
    height: 12%;
    margin: 16px 0;
  }

  @include m.mq(sp) {
    height: 12%;
    margin: 8px 0;
  }

  &__content {
    width: calc(100% - 64px);
    height: 100%;
    padding: 24px 64px;
    margin: 0 auto;
    background-image: url(../images/schedule/paper_bg_content.jpg);
    position: relative;

    @include m.mq(pc) {
      padding: 8px 64px;
    }

    @include m.mq(tab) {
      padding: 16px 64px;
    }

    @include m.mq(sp) {
      padding: 8px 64px;
    }

    @at-root {
      &--paper#{&} {
        box-shadow: 0 0 10px rgba(139, 69, 19, 0.25);
      }
      &--eva#{&} {
        background-image: none;
        background-color: #fff;
      }
    }
  }
  &__contentMag {
    position: absolute;

    @include m.mq(pc) {
      width: 16px;
      height: auto;
    }

    @include m.mq(tab) {
      width: 16px;
      height: auto;
    }

    @include m.mq(sp) {
      width: 12px;
      height: auto;
    }

    &--red {
      top: 16px;
      left: 16px;

      @include m.mq(sp) {
        top: 4px;
        left: 12px;
      }
    }
    &--blue {
      top: 16px;
      right: 16px;

      @include m.mq(sp) {
        top: 4px;
        right: 12px;
      }
    }
    &--yellow {
      bottom: 16px;
      left: 16px;

      @include m.mq(sp) {
        bottom: 4px;
        left: 12px;
      }
    }
    &--green {
      bottom: 16px;
      right: 16px;

      @include m.mq(sp) {
        bottom: 4px;
        right: 12px;
      }
    }
  }
  &__contentWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
  }
  &__logo {
    width: 15%;
    img {
      width: 100%;
    }
  }
  &__info {
    padding: 16px 0;
    flex-basis: 85%;
    background-color: #fff;
    overflow: hidden;

    @include m.mq(tab) {
      padding: 8px 0;
    }

    @include m.mq(sp) {
      padding: 3px 0;
    }
    @at-root {
      &--eva#{&} {
        background-color: transparent;
      }
    }
  }
  &__infoBox {
    display: inline-block;
    white-space: nowrap;
  }
  &__infoText {
    width: fit-content;
    font-weight: bold;
    font-size: 40px;

    @include m.mq(pc) {
      font-size: 24px;
    }

    @include m.mq(tab) {
      font-size: 24px;
    }

    @include m.mq(sp) {
      font-size: 16px;
    }


    @at-root {
      &--eva#{&} {
        font-size: 56px;
        color: c.$eva-black;
      }
    }
  }
}

.scheduleList__item--eva {
  @at-root {
    .scheduleList__item--sat#{&} {
      .scheduleList__date {
        color: c.$eva-blue;
      }
      .scheduleList__dayOfWeek {
        color: c.$eva-blue;
      }
    }

    .scheduleList__item--sun#{&} {
      .scheduleList__date {
        color: c.$eva-red;
      }
      .scheduleList__dayOfWeek {
        color: c.$eva-red;
      }
    }

    .scheduleList__item--holiday#{&} {
      .scheduleList__date {
        color: c.$eva-red;
      }
      .scheduleList__dayOfWeek {
        color: c.$eva-red;
      }
    }
  }
}

.js-active {
  animation: animate-banner 15s linear infinite;
}

@keyframes animate-banner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
