@use "reset" as r;
@use "mixin" as m;
@use "common" as c;

.Weather_gauge {
  padding: 20px;
  background-color: #e1e9f5;
  color: #495057;
  overflow: scroll;

  @include m.mq(sp) {
    padding: 10px;
  }

  &__List {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
  }
  &__Item {
    width: -webkit-calc(100% / 3 - 20px);
    width: calc(100% / 3 - 20px);
    height: 31vh;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 25px;
    background-color: #fff;
    position: relative;
    -moz-box-shadow: 0px 3px 26px -8px rgba(7, 48, 122, 0.2);
    -webkit-box-shadow: 0px 3px 26px -8px rgba(7, 48, 122, 0.2);
    -ms-box-shadow: 0px 3px 26px -8px rgba(7, 48, 122, 0.2);
    box-shadow: 0px 3px 26px -8px rgba(7, 48, 122, 0.2);
    box-sizing: border-box;

    @include m.mq(pc) {
      padding: 12px;
      margin-bottom: 12px;
    }

    @include m.mq(tab) {
      padding: 12px;
      margin-bottom: 12px;

    }

    @include m.mq(sp) {
      padding: 8px;
      border-radius: 10px;
      margin-bottom: 12px;

    }

    @at-root {
      &--Humidity#{&} {
        background: url(../images/weather-gauge/humidity/humidity_61-70.png) 50%
          50% no-repeat;
        background-color: #fff;

        @include m.mq(pc) {
          background-size: 40%;
        }

        @include m.mq(tab) {
          background-size: 40%;
        }

        @include m.mq(sp) {
          background-size: 40%;
        }
      }
      &--Pressure#{&} {
        background: url(../images/weather-gauge/bg_pressure.png) 50% 50%
          no-repeat;
        background-color: #fff;

        @include m.mq(pc) {
          background-size: 43%;
        }

        @include m.mq(tab) {
          background-size: 43%;
        }

        @include m.mq(sp) {
          background-size: 45%;
        }
      }
      &--Direction#{&} {
        background: url(../images/weather-gauge/wind-direction/wind_nnw.png) 50%
          50% no-repeat;
        background-color: #fff;

        @include m.mq(pc) {
          background-size: 40%;
        }

        @include m.mq(tab) {
          background-size: 40%;
        }

        @include m.mq(sp) {
          background-size: 40%;
        }
      }
      &--Uvi#{&} {
        background-color: #c8787a; /*非常に強い*/
        /*#d59369 強い*/
        /*#ccb664 中程度*/
        /*#58779a 弱い*/
      }
      &--Wbgt#{&} {
        background-color: #d8a861; /*厳重警戒*/
        /*#c8787a 危険*/
        /*#c6b563 警戒*/
        /*#49989c 注意*/
        /*#58779a ほぼ安全*/
      }
    }
  }
  &__Title {
    font-size: 36px;
    font-weight: bold;

    @include m.mq(pc) {
      margin-bottom: 12px;
      font-size: 28px;
    }

    @include m.mq(tab) {
      margin-bottom: 12px;
      font-size: 28px;
    }

    @include m.mq(sp) {
      margin-bottom: 8px;
      font-size: 14px;
    }

    @at-root {
      &--White#{&} {
        color: #fff;
      }
    }
    &::before {
      width: 45px;
      height: 40px;
      margin-right: 8px;
      content: "";
      position: relative;
      display: inline-block;
      top: 7px;

      @include m.mq(sp) {
        width: 23px;
        height: 20px;
        margin-right: 0;
      }
    }
    @at-root {
      &--Temp#{&}::before {
        background: url(../images/weather-gauge/icons/icon_temp.png) 0 0
          no-repeat;

          @include m.mq(sp) {
            background-size: 18px;
          }
      }
      &--Humidity#{&}::before {
        background: url(../images/weather-gauge/icons/icon_humidity.png) 0 0
          no-repeat;

          @include m.mq(sp) {
            background-size: 18px;
          }
      }
      &--Pressure#{&}::before {
        background: url(../images/weather-gauge/icons/icon_pressure.png) 0 0
          no-repeat;

          @include m.mq(sp) {
            background-size: 18px;
          }
      }
      &--Direction#{&}::before {
        background: url(../images/weather-gauge/icons/icon_wind_direction.png) 0
          0 no-repeat;

          @include m.mq(sp) {
            background-size: 18px;
          }
      }
      &--Speed#{&}::before {
        background: url(../images/weather-gauge/icons/icon_wind_speed.png) 0 0
          no-repeat;

          @include m.mq(sp) {
            background-size: 18px;
          }
      }
      &--Uvi#{&}::before {
        background: url(../images/weather-gauge/icons/icon_uvi.png) 0 0
          no-repeat;

          @include m.mq(sp) {
            background-size: 18px;
          }
      }
      &--Sunrise#{&}::before {
        background: url(../images/weather-gauge/icons/icon_sunrise.png) 0 0
          no-repeat;

          @include m.mq(sp) {
            background-size: 18px;
          }
      }
      &--Rainfall#{&}::before {
        background: url(../images/weather-gauge/icons/icon_rainfall.png) 0 0
          no-repeat;

          @include m.mq(sp) {
            background-size: 18px;
          }
      }
      &--Wbgt#{&}::before {
        background: url(../images/weather-gauge/icons/icon_wbgt.png) 0 0
          no-repeat;

          @include m.mq(sp) {
            background-size: 18px;
          }
      }
    }
  }
  &__Value {
    font-size: 48px;
    font-weight: bold;

    @include m.mq(pc) {
      font-size: 36px;
    }

    @include m.mq(tab) {
      font-size: 36px;
    }

    @include m.mq(sp) {
      font-size: 18px;
    }

    &--Unit {
      font-size: 24px;

      @include m.mq(pc) {
        font-size: 18px;
      }

      @include m.mq(tab) {
        font-size: 18px;
      }

      @include m.mq(sp) {
        font-size: 13px;
      }
    }
    @at-root {
      &--Humidity#{&} {
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &--Pressure#{&} {
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 36px;

        @include m.mq(pc) {
          font-size: 32px;
        }

        @include m.mq(tab) {
          font-size: 24px;
        }

        @include m.mq(sp) {
          font-size: 16px;
        }
      }
      &--Direction#{&} {
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 36px;

        @include m.mq(pc) {
          font-size: 32px;
        }

        @include m.mq(tab) {
          font-size: 28px;
        }

        @include m.mq(sp) {
          font-size: 14px;
        }
      }
      &--White#{&} {
        color: #fff;
      }
    }
    &--Average {
      font-size: 24px;

      @include m.mq(pc) {
        font-size: 20px;
      }

      @include m.mq(tab) {
        font-size: 20px;
      }

      @include m.mq(sp) {
        font-size: 12px;
      }

      &::before {
        width: 39px;
        height: 34px;
        margin-right: 4px;
        content: "";
        position: relative;
        top: 7px;
        display: inline-block;
        background: url(../images/weather-gauge/wind-speed/speed_90degrees.png)
          0 0 no-repeat;
        background-size: contain;

        @include m.mq(sp) {
          width: 21px;
          height: 20px;
          margin-right: 0;
        }
      }
    }
    &--Maximum {
      font-size: 24px;

      @include m.mq(pc) {
        font-size: 20px;
      }

      @include m.mq(tab) {
        font-size: 20px;
      }

      @include m.mq(sp) {
        font-size: 12px;
      }

      &::before {
        width: 39px;
        height: 34px;
        margin-right: 4px;
        content: "";
        position: relative;
        top: 7px;
        display: inline-block;
        background: url(../images/weather-gauge/wind-speed/speed_45degrees.png)
          0 0 no-repeat;
        background-size: contain;

        @include m.mq(sp) {
          width: 21px;
          height: 20px;
          margin-right: 0;
        }
      }
    }
    &--Ja {
      color: #fff;
      font-size: 24px;
      font-weight: bold;

      @include m.mq(sp) {
        font-size: 13px;
      }
    }
    &--Numbers {
      margin: 0 8px 0 4px;
      font-size: 48px;
      font-weight: bold;
      display: inline-block;

      @include m.mq(pc) {
        line-height: 1.0;
        font-size: 36px;
      }

      @include m.mq(tab) {
        line-height: 1.0;
        font-size: 36px;
      }

      @include m.mq(sp) {
        line-height: 1.0;
        font-size: 18px;
      }
    }
    &--Time {
      font-size: 24px;

      @include m.mq(sp) {
        font-size: 13px;
      }
    }
  }
  &__Other {
    position: absolute;
    left: 20px;
    bottom: 20px;

    @include m.mq(pc) {
      bottom: 12px;
    }

    @include m.mq(tab) {
      bottom: 12px;
    }

    @include m.mq(sp) {
      left: 8px;
      bottom: 8px;
    }

    &--Min {
      font-size: 18px;
      font-weight: bold;
      color: #5d87b7;

      @include m.mq(pc) {
        font-size: 16px;
      }

      @include m.mq(tab) {
        font-size: 16px;
      }

      @include m.mq(sp) {
        font-size: 11px;
      }
    }
    &--Max {
      font-size: 18px;
      font-weight: bold;
      color: #cf737a;

      @include m.mq(pc) {
        font-size: 16px;
      }

      @include m.mq(tab) {
        font-size: 16px;
      }

      @include m.mq(sp) {
        font-size: 11px;
      }
    }
    &--Day {
      font-size: 18px;
      font-weight: bold;

      @include m.mq(sp) {
        line-height: 1.2;
        font-size: 13px;
        font-weight: normal;

        span {
          font-weight: normal;
        }
      }
    }
    &--Numbers {
      margin: 0 4px 0 8px;
      display: inline-block;
      font-size: 24px;

      @include m.mq(pc) {
        font-size: 18px;
      }

      @include m.mq(tab) {
        font-size: 18px;
      }

      @include m.mq(sp) {
        margin: 0 4px;
        font-size: 13px;
      }
    }
  }
}
